---
import type { HTMLAttributes } from 'astro/types';
import './HeaderLink.scss';

type Props = {
  iconSrc?: string,
  alt: string,
  showText?: boolean
} & HTMLAttributes<'a'>;

const { href, alt, showText, iconSrc, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a href={href} class:list={[className, { 'active': isActive }, { 'icon-only': !!iconSrc && !showText }]} {...props}>
  {
    !!iconSrc &&
    <img class="icon" width="16" height="16" src={iconSrc} loading="eager" alt={alt} />
  }
  <div class="header-link-content">
    { !!showText && <slot /> }
  </div>
</a>
