@use 'functions' as *;
@use 'variables' as *;

@keyframes dialog-open-mobile {
  from { bottom: -100%; }
  to { bottom: 0; }
}

@keyframes dialog-open {
  from { left: 0 }
  to { left: calc(50% - rem(201)) }
}

.contact {
  display: none;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  overflow: hidden;

  .contactTitle {
    font-size: rem(28);
    margin-bottom: rem(24);
  }

  form {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: calc(50% - rem(201));
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    padding: rem(24) rem(32);
    background-color: $bg-color-primary;
    color: $font-color-primary;
    border-radius: rem(8);
    max-width: rem(500);
    width: 100%;
    animation-name: dialog-open;
    animation-duration: .25s;

    .submitBtn {
      min-width: 20%;
      margin-left: auto;
    }

    .closeBtn {
      position: absolute;
      right: rem(32);

      > img {
        filter: invert(1);
        object-fit: contain;
        object-position: center;
      }

      &:hover {
        transform: scale(1.1);
        filter: drop-shadow(0px 0px rem(8) $bg-color-accent);
      }
    }

    > *:not(label):not(.contactTitle):not(:last-child) {
      margin-bottom: rem(16);
    }

    > label {
      margin-bottom: rem(4);
    }

    input,
    textarea {
      padding: rem(8) rem(16);
      border: rem(2) solid $bg-color-cream;
      border-radius: rem(4);
      color: $font-color-primary;
      background-color: $bg-color-primary;
      transition: border-color .25s ease-in-out;
      caret-color: $font-color-primary;

      &:focus {
        border-color: $bg-color-accent;
      }
    }

    textarea {
      resize: vertical;
    }

    @media(max-width: $breakpoint-mobile) {
      top: unset;
      bottom: 0;
      left: 0;
      animation-name: dialog-open-mobile;
      animation-duration: .25s;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      transform: unset;
    }
  }
}