$color-highlight: #EEFC57;
$color-purple-dark: #0A0012;
$color-purple-light: #BD93F9;
$color-purple-fair: #F2E9FE;
$color-cream: #F8F8F2;
$color-blue: hsla(232, 73%, 65%, 1);
$color-grey-f4: #F4F4F4;

// Gradients
$gradient-blue-to-purple: linear-gradient(90deg, $color-blue 0%, $color-purple-light 100%);
$gradient-blue-to-purple-radial: radial-gradient(circle at center, $color-blue 0%, $color-purple-light 100%);
