@use '../functions' as *;
@use '../colors' as *;

@keyframes wave {
  0% { transform: rotate(0deg) }
  // Core animation
  10% { transform: rotate(10deg) }
  20% { transform: rotate(-4deg) }
  30% { transform: rotate(10deg) }
  40% { transform: rotate(-4deg) }
  50% { transform: rotate(6deg) }
  // Resets
  60% { transform: rotate(0deg) }
  100% { transform: rotate(0deg) }
}

@mixin home-page-styles() {
  text-align: center;
  max-width: rem(500);

  .img-avatar {
    max-width: rem(150);
    max-height: rem(150);
    object-fit: contain;
    border-radius: 50%;
  }

  .h1-landing {
    display: flex;
    justify-content: center;
    font-size: rem(42);
    gap: rem(8);
    margin-bottom: rem(8);

    .wave {
      animation: wave 2.5s infinite;
      transform-origin: 70% 70%;
    }
  }

  .landing-blurb {
    margin-bottom: rem(32);
  }

  section {
    &:not(:last-child) {
      margin: rem(32) 0;
    }

    h3 {
      margin: rem(20) 0;
    }
  }

  .blog-posts-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin-bottom: rem(24);
  }
}
