@use '../../styles/functions' as *;
@use '../../styles/colors' as *;
@use '../../styles/breakpoints' as *;

@mixin progress-bg() {
  background: transparent;
}

@mixin progress-styles() {
  @include progress-bg();

  display: block;
  width: 100%;
  height: rem(4);
  color: $color-purple-light;
  border: unset;

  // Chrome
  &::-webkit-progress-value,
  // Firefox
  &::-moz-progress-bar {
    background-color: $color-purple-light;
  }
}

@mixin progress-safari-styles() {
  &::-webkit-progress-bar {
    @include progress-bg();
    
    appearance: none;
  }

  &::-webkit-progress-value {
    background-color: $color-purple-light;
  }
}