@use '../../styles/colors' as *;
@use '../../styles/icons' as *;
@use '../../styles/functions' as *;

$transition-speed: .25s;

@mixin switch-styles() {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 24px;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked {
      + .slider {
        background: $gradient-blue-to-purple;
      }

      + .slider:before {
        transform: translateX(18px);
        background-image: $icon-moon;
      }
    }

    &:focus {
      + .slider {
        box-shadow: 0 0 1px #2196F3;
      }
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #CCCCCC;
    transition: $transition-speed ease-in-out;
    border-radius: rem(34);

    &:before {
      position: absolute;
      content: "";
      height: 18px;
      width: 18px;
      left: 3px;
      bottom: 3px;
      background-color: white;
      transition: $transition-speed;
      border-radius: 50%;
      background-image: $icon-sun;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 50%;
    }
  }
}
