@use 'variables' as *;
@use 'functions' as *;

.blogSubtitle {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: rem(16);

  @media(max-width: $breakpoint-mobile) {
    row-gap: rem(4);
    flex-direction: column;

    > .blogFilter {
      width: 100%;
    }
  }
}

.blogLinkContainer {
  &:not(:last-child) {
    margin-bottom: rem(32);
  }
}

.blogLink {
  display: flex;
  flex-direction: row;
  position: relative;
  gap: rem(16);
  align-items: center;
  border: rem(2) solid $bg-color-primary;
  border-radius: rem(4);
  transition: all .125s ease-in-out;
  overflow: hidden;
  height: rem(150);

  img {
    flex: 1 0 auto;
    position: relative !important;
    object-fit: cover;
    object-position: center;
    max-width: rem(250);
    height: 100%;
  }

  .blogBlurb {
    margin-right: rem(16);

    .draftTag {
      position: absolute;
      right: rem(16);
      bottom: rem(8);
      font-size: rem(13);
      color: #777;
    }
  }

  .blogHeadingContainer {
    margin-bottom: rem(8);

    .blogCategory {
      width: 100%;
      display: inline-block;
    }
  }

  .postTags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: rem(4);
    margin-top: rem(8);

    .postTag {
      padding: rem(2) rem(4);
      background-color: $bg-color-primary;
      color: $font-color-primary;
      border-radius: rem(2);
      font-weight: 200;
      border-left: rem(2) solid $bg-color-accent;
    }
  }

  &:hover {
    background-color: $bg-color-hover;
  }
}

@media (max-width: $breakpoint-mobile) {
  .blogLink {
    height: unset;
    flex-direction: column;

    img {
      width: 100%;
      max-width: 100%;
    }

    .blogBlurb {
      padding: 0 rem(16) rem(16) rem(16);
      margin-right: auto;
    }
  }
}