@use '../functions' as *;
@use '../variables' as *;

$border-width: rem(2);

@mixin apply-padding($top, $right, $bottom, $left) {
  padding: calc(#{$top} - #{$border-width}) 
           calc(#{$right} - #{$border-width})
           calc(#{$bottom} - #{$border-width})
           calc(#{$left} - #{$border-width});
}

.select {
  position: relative;

  .selectValue {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .selectInput {
      @include apply-padding(rem(8), rem(12), rem(6), rem(12));

      width: 100%;
      background-color: $bg-color-primary;
      color: $font-color-primary;
      appearance: none;
      outline: 0;
      font-size: rem(14);

      &:focus {
        outline: $bg-color-accent solid rem(2);
      }
    }

    &:hover {
      .selectInput {
        cursor: pointer;
      }

      .selectIcon {
        filter: invert(0);
      }
    }

    .selectIcon {
      position: absolute;
      right: rem(12);
      color: $font-color-primary;
      transition: all .125s ease-in-out;
      filter: invert(1);

      &.active {
        transform: rotateZ(180deg);
      }
    }
  }

  .selectInput,
  .option {
    border-radius: rem(4);
    transition: all .125s ease-in-out;
    border: $border-width solid $bg-color-primary;
    letter-spacing: 0.01em;

    &:hover {
      cursor: pointer;
      background-color: $bg-color-hover;
      color: $font-color-primary-light;

      ~ .selectIcon {
        color: $font-color-primary-light;
      }
    }
  }

  .optionsContainer {
    @include apply-padding(rem(6), rem(5), rem(6), rem(5));

    margin-top: rem(4);
    color: $font-color-primary;
    background-color: $bg-color-primary;
    border-radius: rem(4);
    position: absolute;
    width: 100%;
    z-index: 1;

    &:not(.active) {
      display: none;
    }

    > .option {
      font-size: rem(14);
      padding: rem(4) rem(8) rem(2) rem(8);

      &:focus {
        outline: 0;
        background-color: $bg-color-accent;
        color: $font-color-primary-light;
      }
    }
  }
}
