@use 'functions' as *;
@use 'variables' as *;

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $bg-color-primary;
  color: $font-color-primary;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 999;
  transition: box-shadow 0.25s ease-in-out;
  min-width: $nav-bar-width;

  .mobileMenu {
    display: none;

    .route {
      color: $bg-color-accent;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: rem(32) rem(32);
    transition: padding .25s ease-in-out;

    > .navItem {
      display: flex;
      align-items: center;
      white-space: nowrap;

      a,
      button {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: rem(4) rem(8);
        border-radius: rem(8);
        transition: background-color .125s ease-in-out;
        font-family: inherit;
        
        > img {
          filter: invert(1);
          object-fit: contain;
          object-position: center;
        }

        &.active {
          color: $font-color-primary-light;
          background-color: $bg-color-accent;

          > img {
            filter: invert(0);
          }
        }

        span {
          display: inline-block;
          transition: all .1s ease-in-out;
          visibility: hidden;
          max-width: 0px;
        }

        &:hover {
          background-color: $bg-color-hover;
          color: $font-color-hover;

          > img {
            filter: invert(0);
          }
        }
      }
    }
  }

  .navigationContainer {
    gap: rem(16);
  }

  .socialsContainer {
    gap: rem(8);
    color: $font-color-primary-light;
    background-color: $bg-color-accent;

    button {
      font-size: rem(16);
      color: $font-color-primary-light;

      &:hover {
        cursor: pointer;
      }
    }
    
    img {
      &:not(:hover) {
        filter: invert(0);
      }
    }
  }

  @media(min-width: $breakpoint-mobile) {
    &:hover {
      box-shadow: rem(10) 0 rem(10) 0 rgba(0, 0, 0, .15);

      ul {
        padding: rem(32) rem(64);
      }

      ul > .navItem {
        span {
          max-width: rem(80);
          width: 100%;
          visibility: visible;
          margin-left: rem(8);
        }
      }
    }
  }

  @media (max-width: $breakpoint-mobile) {
    position: sticky;
    padding: rem(16) rem(32);

    .mobileMenu {
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        filter: invert(1);
      }

      &:hover {
        cursor: pointer;
      }
    }

    ul {
      display: none;
      padding: rem(16) rem(32);
      flex-direction: column;
      justify-content: center;
      margin-left: -#{rem(32)};
      margin-right: -#{rem(32)};
      align-items: center;

      &.socialsContainer { 
        margin-bottom: -#{rem(16)};
      }

      >.navItem {
        button,
        a {
          display: flex;
          flex-direction: row;
          justify-content: center;
          gap: rem(8);
          font-size: rem(14);

          &.active {
            color: unset;
            background-color: unset;

            > img {
              filter: invert(1);
            }
          }

          span {
            visibility: visible;
            max-width: rem(80);
          }
        }
      }
    }

    .navigationContainer {
      position: fixed;
      width: 100%;
      top: rem(51);
      background-color: $bg-color-primary;
    }

    .socialsContainer {
      position: fixed;
      width: 100%;
      top: rem(190);
    }
  }
}