@use 'functions' as *;
@use 'variables' as *;
@use 'sass:color' as color;

.postMain {
  position: relative;

  .notification {
    position: fixed;
    background-color: $bg-color-accent;
    color: $font-color-primary-light;
    font-size: rem(11);
    line-height: rem(12);
    z-index: 9999;
    padding: .5rem 1rem .35rem 1rem;
    right: 2rem;
    top: 1rem;
    border: rem(2) solid $bg-color-primary;
    border-radius: rem(4);
    font-weight: bold;
    text-transform: uppercase;
    transform: scale(0);
    transition: transform .1s ease-in-out;

    @media (max-width: $breakpoint-mobile) {
      top: unset;
      bottom: 1rem;
      right: 1rem;
    }
  }

  h1,
  h2 {
    margin: rem(18) 0;
  }

  h3 {
    margin: rem(16) 0;
  }

  h4,
  h5 {
    margin: rem(12) 0;
  }

  .postTitle {
    margin-top: unset;
  }

  ul {
    padding-left: rem(12);
    margin: rem(8) rem(16);
  }

  blockquote {
    padding: rem(16) rem(12);
    margin: rem(16) 0;
    background-color: color.scale($bg-color-accent, $lightness: 80%);
    border-radius: rem(4);
    border: rem(1) solid color.scale($bg-color-accent, $lightness: 65%);

    code {
      border: rem(1) solid #DDDDDD;
    }
  }

  .authorCard {
    display: flex;
    flex-direction: column;
    gap: rem(2);
    margin-bottom: rem(24);
    margin-top: -#{rem(8)};

    > span {
      color: #555555;
      font-weight: 300;
    }
  }

  .postBanner {
    position: relative !important;
    max-height: rem(200);
    object-fit: cover;
    border-radius: rem(2);
    margin-bottom: rem(16);
  }

  img {
    max-width: 100%;
    border-radius: rem(2);
  }

  p,
  li {
    line-height: rem(24);
  }

  p + p,
  pre + p,
  p + pre {
    margin-top: rem(8);
  }

  // Markdown link styling
  p > a,
  li > a {
    border-bottom: rem(1) solid $font-color-primary-light;
    transition: border-bottom .125s ease-in-out;

    &:hover {
      border-width: rem(2);
    }
  }

  .postShare {
    display: flex;
    gap: rem(2);
    margin-top: rem(8);
    justify-content: flex-end;
  }

  .postCopyLink {
    display: flex;
    align-items: center;
    padding: rem(4) rem(4) rem(2) rem(4);
    border-radius: rem(4);
    color: $font-color-primary;
    background-color: $bg-color-primary;
    font-size: rem(14);
    transition: all .125s ease-in-out;
    border: rem(2) transparent solid;
    margin-top: rem(16);
    margin-left: auto;

    > img {
      filter: invert(1);
      object-fit: contain;
      object-position: center;
      margin-bottom: rem(2);
    }

    span {
      margin-left: rem(4);
      white-space: nowrap;
    }

    &:hover {
      cursor: pointer;
      background-color: $bg-color-hover;
      color: $font-color-primary-light;
      border-color: $bg-color-primary;

      > img {
        filter: invert(0);
      }
    }
  }

  pre {
    position: relative;

    .copyCodeBtn {
      content: '';
      display: block;
      position: absolute;
      width: rem(18);
      height: rem(18);
      background-size: contain;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M224 0c-35.3 0-64 28.7-64 64V288c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H224zM64 160c-35.3 0-64 28.7-64 64V448c0 35.3 28.7 64 64 64H288c35.3 0 64-28.7 64-64V384H288v64H64V224h64V160H64z' fill='%23FFFFFF'/%3E%3C/svg%3E");
      background-position: center;
      background-repeat: no-repeat;
      background-color: transparent;
      border-radius: rem(2);
      margin: 1em;
      top: 0;
      right: 0;
    }


    .copyCodeBtn {
      &:hover {
        background-color: unset;
      }
    }
  }

  code {
    background-color: #EEEEEE;
    padding: rem(2) rem(3) rem(1) rem(3);
    border-radius: rem(2);
    border: rem(1) solid #DDDDDD;
  }

  pre code {
    background-color: $bg-color-primary;
    border-radius: rem(4);
    border: unset;
    position: relative;
    margin: rem(8) 0;
  }
}