@use 'functions' as *;

.blogMain {
  margin: 0 auto;
  max-width: rem(900);

  .pageTitle {
    margin: 24px 0;
  }

  .blogLink {
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 16px;
    justify-content: center;
    align-items: center;
    max-width: rem(500);
    margin: 0 auto;

    img {
      position: relative !important;
      object-fit: cover;
      object-position: center;
      height: 100%;
    }

    .blogHeadingContainer {
      margin-bottom: 8px;

      .blogCategory {
        width: 100%;
        display: inline-block;
      }
    }

    &:not(:last-child) {
      margin-bottom: rem(32);
    }
  }
}