@use 'functions' as *;
@use 'variables' as *;

.blogMain {
  .pageTitle {
    margin-bottom: rem(12);
  }

  .blogSubtitle {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: rem(8);

    @media(max-width: $breakpoint-mobile) {
      row-gap: rem(4);
      flex-direction: column;

      > .blogFilter {
        width: 100%;
      }
    }
  }

  .pageDescription {
    font-weight: 300;
    font-size: rem(16);
    line-height: rem(20);
  }

  .blogSearch {
    margin-top: rem(24);
    margin-bottom: rem(24);
  }

  .blogHero {
    display: flex;
    align-items: center;

    > lord-icon {
      flex: 1 0 auto;
    }

    .blogHeroContent {
      .contactCta {
        margin-top: rem(12);
      }
    }
  }

  .postFilters {
    margin-bottom: rem(8);

    label {
      margin-right: rem(6);
    }

    > select {
      &:hover {
        cursor: pointer;
        color: $font-color-primary-light;
        background-color: $bg-color-hover;
      }
    }
  }

  .blogSearch {
    width: 100%;
  }

  .blogSearch {
    padding: rem(12) rem(24) rem(10) rem(24);
    border: none;
    border-radius: rem(4);
    color: $font-color-primary;
    background-color: $bg-color-primary;
    transition: all .125s ease-in-out;
    caret-color: $bg-color-accent;

    &::selection {
      color: $font-color-primary-light;
    }

    &:focus-visible {
      outline: none;
      padding: rem(16) rem(32);
      font-size: rem(16);
    }
  }

  .postFilters > select {
    padding: rem(4) rem(8);
  }

  .blogLink {
    display: flex;
    flex-direction: row;
    position: relative;
    gap: rem(16);
    align-items: center;
    border: rem(2) solid $bg-color-primary;
    border-radius: rem(4);
    transition: all .125s ease-in-out;
    overflow: hidden;
    height: rem(150);

    img {
      flex: 1 0 auto;
      position: relative !important;
      object-fit: cover;
      object-position: center;
      max-width: rem(250);
      height: 100%;
    }

    .blogBlurb {
      margin-right: rem(16);

      .draftTag {
        position: absolute;
        right: rem(16);
        bottom: rem(8);
        font-size: rem(13);
        color: #777;
      }
    }

    .blogHeadingContainer {
      margin-bottom: rem(8);

      .blogCategory {
        width: 100%;
        display: inline-block;
      }
    }

    .postTags {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: rem(4);
      margin-top: rem(8);

      .postTag {
        padding: rem(2) rem(4);
        background-color: $bg-color-primary;
        color: $font-color-primary;
        border-radius: rem(2);
        font-weight: 200;
        border-left: rem(2) solid $bg-color-accent;
      }
    }

    &:hover {
      background-color: $bg-color-hover;
    }
  }

  .blogLinkContainer {
    &:not(:last-child) {
      margin-bottom: rem(32);
    }
  }

  @media (max-width: $breakpoint-mobile) {
    .blogLink {
      height: unset;
      flex-direction: column;

      img {
        width: 100%;
        max-width: 100%;
      }

      .blogBlurb {
        padding: 0 rem(16) rem(16) rem(16);
        margin-right: auto;
      }
    }

    .blogHero {
      flex-direction: column;
      justify-content: center;

      .blogHeroContent {
        text-align: center;
      }
    }
  }
}