@use 'functions' as *;
@use 'variables' as *;

.postMain {
  position: relative;

  .authorCard {
    display: flex;
    flex-direction: column;
    gap: rem(2);
    margin-bottom: rem(24);
    margin-top: -#{rem(8)};

    > span {
      color: #555555;
      font-weight: 300;
    }
  }

  .postBanner {
    position: relative !important;
    max-height: rem(200);
    object-fit: cover;
    border-radius: rem(2);
    margin-bottom: rem(16);
  }

  .postShare {
    display: flex;
    gap: rem(2);
    margin-top: rem(8);
    justify-content: flex-end;
  }

  .postTitle {
    margin: 0 0 rem(18) 0;
  }
}