@use 'functions' as *;

$font-color-primary: #FFFFFF;
$font-color-hover: #0A0012;

$font-color-primary-light: #0A0012;

$bg-color-primary: #0A0012;
$bg-color-hover: #EEFC57;
$bg-color-accent: #BD93F9;

$bg-color-primary-light: #FFFFFF;

$bg-color-primary-dark: #242039;

// Breakpoints
$breakpoint-mobile: rem(576);

$nav-bar-width: rem(98);