---
import { Image } from "astro:assets";
import astroLogo from '../../assets/images/astro-icon-dark.svg';

const today = new Date();
---

<!-- Template -->
<footer>
  <span class="copyright-text">&copy; {today.getFullYear()} Mitchell Hayward</span>
  <a class="img-link-astro" href="https://astro.build/" target="_blank">
    <Image src={astroLogo} height={14} width={14} alt="Astro logo" />
    Built with Astro
  </a>
</footer>

<!-- Scoped styles -->
<style lang="scss">
  @use './Footer.scss' as *;

  footer {
    @include footer-styles();
  }
</style>