@use "../../styles/functions" as *;
@use "../../styles/colors" as *;
@use "../../styles/breakpoints" as *;
@use "sass:color" as sass-color;

@mixin card-styles() {
  padding: rem(24);
  color: $color-purple-dark;
  text-decoration: none;
  border: rem(2) solid transparent;
  border-radius: rem(16);
  background-color: var(--bg-color-post);

  img {
    object-fit: contain;
    max-width: 100%;
    border-radius: rem(12);
  }

  &.card-horizontal {
    display: flex;
    flex-direction: row;
    gap: rem(32);
    padding: rem(32);
    align-items: flex-start;

    h4 {
      margin: 0;
      font-size: rem(18);
    }

    @media screen and (max-width: $breakpoint-xs) {
      flex-direction: column;
      align-items: center;
      padding: rem(24);
      gap: rem(16);

      img {
        max-width: 100% !important; // Trump the inline style set from our props
      }
    }
  }
}
