@use '../../styles/functions' as *;
@use '../../styles/colors' as *;

@mixin card-styles() {
  padding: rem(24);
  color: var(--font-color-inverse);
  text-decoration: none;
  border: rem(2) solid transparent;
  border-radius: rem(12);
  background-color: var(--bg-color-inverse);
  transition: all .125s ease-in-out;

  &:hover {
    border-color: $color-purple-light;
  }

  img {
    object-fit: contain;
    max-width: 100%;
  }
}