@use '../../styles/colors' as *;
@use '../../styles/functions' as *;
@use '../../styles/icons' as *;
@use '../../styles/breakpoints' as *;

@mixin glass-look() {
  backdrop-filter: blur(rem(12));
  border-bottom: rem(1) solid var(--bg-color);
  -webkit-backdrop-filter: blur(rem(12));
}

@mixin header-styles() {
  @include glass-look();

  position: sticky;
  padding: rem(24) rem(64);
  top: 0;
  z-index: 999;
  background: var(--bg-header-color);
  transition: background-color .25s ease-in-out;

  .mobile-menu {
    display: none;
    background-image: $icon-bars;
    width: rem(16);
    height: rem(16);
    filter: var(--icon-filter);
  }

  .nav-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      align-items: center;
      margin: unset;
      padding: unset;
      transition: padding .25s ease-in-out;

      .avatar {
        display: flex;
        margin-right: rem(32);

        >a {
          max-width: rem(24);
          max-height: rem(24);

          >img {
            width: 100%;
            height: 100%;
            border-radius: rem(12);
          }
        }
      }

      li {
        display: inline-block;
        max-width: 100%;
        list-style: none;

        &:not(:last-child):not(.avatar) {
          margin-right: rem(16);
        }
      }

      &.nav-links {
        @media screen and (max-width: $breakpoint-xs) {
          display: none;
          position: absolute;
          flex-direction: column;
          top: rem(56);
          left: 0;
          width: 100%;
          background-color: var(--bg-color);
          border-bottom: rem(2) solid $color-purple-light;
          align-items: flex-start;
          justify-content: center;
          padding: 0 rem(24) rem(16) rem(24);

          .avatar {
            display: none;
          }

          li {
            width: 100%;

            &:not(:last-child) {
              margin: 0 0 rem(16) 0;
            }

            div {
              width: 100%;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: $breakpoint-xs) {
    padding: rem(16) rem(32);

    .mobile-menu {
      display: inline-block;
    }
  }
}