@use '../../styles/functions' as *;
@use '../../styles/breakpoints' as *;

main {
  margin: 0 auto;
  max-width: var(--max-width);

  @media screen and (max-width: $breakpoint-xs) {
    padding: rem(16) rem(32);
  }
}