@use '../../styles/colors' as *;
@use '../../styles/functions' as *;

.input {
  display: flex;
  align-items: center;
  padding: rem(4) rem(12);
  border: rem(2) solid transparent;
  border-radius: rem(24);
  transition: border-color linear .125s;

  &:has(input:focus-visible) {
    border-color: $color-purple-light;
  }

  img {
    filter: var(--icon-filter);
  }

  input {
    background-color: transparent;
    color: var(--font-color);
    border: unset;
    font-size: rem(14);
    margin-left: rem(8);
    transition: width .125s ease-in-out;
    caret-color: $color-purple-light;
    min-height: 28px;

    &:focus-visible {
      outline: 0;
    }

    &::placeholder {
      color: var(--font-color);
    }
  }
}