---
import Page from '../layouts/page/Page.astro';
import Button from '../components/button/Button.astro';
import { Image } from 'astro:assets';
import avatar from '../assets/images/avatar.png';

import '../styles/pages/Home.scss';

const title = "Home | Mitchell Hayward";
const description = "Hey I'm Mitch! I'm a software developer with a passion for front-end development, game development, and test automation! Here you'll find my blog and developer portfolio, feel free to have a lil' nosey - I don't bite!";
---

<Page className="page-landing" title={title} description={description}>
  <Image src={avatar}
         class="img-avatar"
         width="400"
         height="400"
         alt="Avatar" />
  <h1 class="h1-landing">
    Hey, I'm Mitch <span class="wave">👋</span>
  </h1>
  <!-- TODO: Move to component -->
  <h2>A little about me?</h2>
  <p>
    I've been in the software engineering industry for five years!
    I love test automation, video games, and at the risk of sounding a bit vague 
    the full vertical slice of development (although I do have a deep love for front-end 
    developement in particular)!
  </p>

  <h2>Keen to see what I've done?</h2>
  <Button text='See my work' href="/blog" />

  <h2>Want to know an absolutely shocking fact?</h2>
  <p>I actually got into programming through video games. The first thing I ever tinkered with was creating Minecraft mods and servers with Java. I quickly leaped into Unity - where I well and truly got bitten by the software dev (and game dev) bug.</p>

  <h2>I'm all about knowledge sharing</h2>
  <Button text='Read my blog' href="/blog" />

  <h2>What gets me up in the morning?</h2>
  <p>I love making applications, games, and libraries that deliver awesome user/developer experiences. I'm 110% all about bringing amazing features and experiences to anyone who uses a product I’ve had the pleasure of working on. I’m also a huge lover of knowledge sharing, mentoring, and supporting people’s growth and development journeys in anyway I possibly can.</p>
</Page>
