@use '../../styles/functions' as *;

@mixin tool-styles() {
  display: flex;
  align-items: center;

  > img {
    max-width: rem(24);
    max-height: rem(24);
    margin-right: rem(8);
    object-fit: contain;
  }
}