---
import type { ToolProps } from "./ToolProps";

type Props = {} & ToolProps;

const { name, imgSrc } = Astro.props;
---

<!-- Template -->
<span class="tool-item">
  <img src={imgSrc} 
       alt={name} 
       height={28} 
       width={28}
       decoding="async"
       loading="lazy" />
  {name}
</span>

<!-- Scoped styles -->
<style lang="scss">
  @use './Tool.scss' as *;

  .tool-item {
    @include tool-styles();
  }
</style>
